<ul class="cb-slideshow">
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
</ul>
<div class="row">
	<div class="large-5 large-centered columns custom-panel-signin">
	  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  
	  <div class="row">
	    <div class="large-11 large-centered columns signinform-header">
	    	<%= image_tag("thimunq-logo-color.png", :alt => "logo") %>
	    	<br/><br/>
	    	<h3>Electronic Resolution System</h3>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-10 large-centered columns signinform-fields signin-text">
	      <%= f.label :username, :class => "hidden-labels" %>
	      <%= f.text_field :username, :placeholder => "username" %>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-10 large-centered columns signin-text">
	      <%= f.label :password, :class => "hidden-labels" %>
	      <%= f.password_field :password, :placeholder => "password" %>
	  	</div>
	  </div>
	  
	  <div class="row">
	    <div class="large-10 large-centered columns signinform-button">
			<%= f.submit "Login", :class => "button" %>
	    </div>
	  </div>

	  <% end %>	  
	</div>
</div>